# Website packaging
_site
.sass-cache
.jekyll-metadata
vendor

# Editor files
.gitpod.yml
.DS_Store

# Secrets
.vercel

# VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Eclipse template
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# PyDev
*.pydevproject
